// SPDX-License-Identifier: (GPL-2.0+ or MIT)
/*
 * Copyright (C) 2022 Jisheng Zhang <jszhang@kernel.org>
 */

/dts-v1/;

#include "bl808.dtsi"

/ {
	model = "Pine64 Ox64";
	compatible = "pine64,ox64", "bflb,bl808";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
	};

	chosen {
		stdout-path = "serial0:2000000n8";
		bootargs = "console=ttyS0,2000000 loglevel=8 earlycon=sbi root=PARTLABEL=rootfs rootwait rootfstype=ext4";
		linux,initrd-start = <0x0 0x52000000>;
		linux,initrd-end = <0x0 0x52941784>;
	};

	memory@50000000 {
		device_type = "memory";
		reg = <0x50000000 0x04000000>;
	};
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		m0_psram_reserved: m0_psram@53F00000 {
			reg = <0x53F00000 0x100000>;
			status = "okay";
		};
	};

	flash@2000b000 {
		compatible = "bflb,bl808-sflash";
		reg = <0x2000b000 0x1000 0x40001000 0x1000>;
		#address-cells = <1>;
		#size-cells = <1>;
	};
};

&pinctrl {
	status = "okay";
};

&seceng {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&sdhci0 {
	status = "okay";
};

/*
&ipclic {
	status = "okay";
};
*/
